* {
  font-family: sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

form {
  margin-top: 0.3rem;
  width: 100%;
  display: flex;
}

form > input {
  flex: 3;
}

form > button {
  flex: 1;
}

th {
  padding: 3px;
  max-width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

main {
  width: 100%;
}

.global-action,
form > button,
input {
  box-sizing: content-box;
  height: 40px;
}

.global-action {
  box-sizing: border-box;
  min-width: 100%;
  margin-top: 0.8rem;
  height: 50px;
}

.main-page-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 400px) {
  table * {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  body {
    margin: 1px;
  }
  tr {
    max-width: 90vw;
  }

  th {
    max-width: 15vw;
  }

  form > input {
    flex: 2;
  }
}
